*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    font-family: 'Share Tech Mono', monospace;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #19172e;
    background: radial-gradient(ellipse at center, #123039 0%, #19172e 70%)
}
.countdown{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    flex-wrap: wrap;
}
.countdown div{
    display: grid;
    place-items: center;
    padding: 10px;
}
audio{
  height: 0px;
  width: 0px;
  place: left;
}

}
h1{
    text-align: center;
    color: #fff;
    font-size: 60px;
    padding: 30px 10px;
}
p{
    display: grid;
    place-items: center;
    border: solid 2.5px #000000;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    background-color: #fcb7af;
    box-shadow: 10px 10px 10px #000000;
}
span{
    display: block;
    padding: 10px;
    text-align: center;
    color: #74ffe7;
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: 5px 5px 5px #000000;
}
.final-sms{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    transform: translateY(-100%);
    transition: ease-in-out 0.5s;
    background-color: #fabfb7;
}
.final-sms h2{
    text-align: center;
    font-size: 40px;
    color: #000000;
}
